<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.tutorialjinni.com/intl-tel-input/17.0.19/css/intlTelInput.css"    />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="/profile/public/gold-black/style.css">
    <title>Portfolio</title>
</head>

<body>

    <div id="loader">
        <img src="/profile/public/gold-black/assets/icons/loader.svg" alt="loading">
    </div>

    <header>
        <img class="user_bg" id="user_bg" src="" alt="user-bg">
        <div class="user_info">
            <div class="avatar_img">
                <img id="avatar" class="avatar"
                    src=""
                    alt="avatar">
            </div>
            <h1 id="user_name" class="user_name gradient_text">
                <!-- name -->
            </h1>
            <div class="user_details">
                <h2 id="user_designation" class="user_designation">
                     <!-- designation -->
                </h2>

                <h2 id="user_company">
                    <!-- company -->
                </h2>
            </div>
            <div class="contact_btns">
                <button id="save_contact" class="btn btn_primary">
                    <p>Save contact</p> <img src="/profile/public/gold-black/assets/icons/download.svg" alt="download-icon">
                </button>
            </div>
    </header>

    <div class="quote_section">
        <img src="/profile/public/gold-black/assets/icons/quot.svg" alt="quote">
        <p id="bio">
            <!-- bio here -->
        </p>
    </div>

    <section id="contact_long_card_section" class="contact_section">
        <h4 class="gradient_text sub_heading">Contact me</h4>
        
        <div id="contact_long_cards" class="contact_long_cards">

            <!-- <div class="contact_long_card">
                <a class="contact_link" href="#">
                    <img src="/profile/public/gold-black/assets/icons/call.svg" alt="">
                    <div class="contact_info">
                        <h5 class="fw_500 f_12">Phone</h5>
                        <p class="gradient_text f_14 fw_600">+91 9954862335</p>
                    </div>
                </a>
            </div>

            <div class="contact_long_card">
                <a class="contact_link" href="#">
                    <img src="/profile/public/gold-black/assets/icons/call.svg" alt="">
                    <div class="contact_info">
                        <h5 class="fw_500 f_12">Phone</h5>
                        <p class="gradient_text f_14 fw_600">+91 9954862335</p>
                    </div>
                </a>
            </div>

            <div class="contact_long_card">
                <a class="contact_link" href="#">
                    <img src="/profile/public/gold-black/assets/icons/call.svg" alt="">
                    <div class="contact_info">
                        <h5 class="fw_500 f_12">Phone</h5>
                        <p class="gradient_text f_14 fw_600">+91 9954862335</p>
                    </div>
                </a>
            </div> -->

        </div>

    </section>

    <section id="contact_section" class="contact_section">
        <h4 class="gradient_text sub_heading">Social media</h4>
        <div id="contact_cards" class="contact_cards">

            <!-- <div class="contact_card">
                <a href="#">
                    <img src="/profile/public/gold-black/assets/icons/call.svg" alt="">
                </a>
            </div>

            <div class="contact_card">
                <a href="#">
                    <img src="/profile/public/gold-black/assets/icons/call.svg" alt="">
                </a>
            </div>
            <div class="contact_card">
                <a href="#">
                    <img src="/profile/public/gold-black/assets/icons/call.svg" alt="">
                </a>
            </div>
            <div class="contact_card">
                <a href="#">
                    <img src="/profile/public/gold-black/assets/icons/call.svg" alt="">
                </a>
            </div>
            <div class="contact_card">
                <a href="#">
                    <img src="/profile/public/gold-black/assets/icons/call.svg" alt="">
                </a>
            </div>

            <div class="contact_card">
                <a href="#">
                    <img src="/profile/public/gold-black/assets/icons/call.svg" alt="">
                </a>
            </div>
            <div class="contact_card">
                <a href="#">
                    <img src="/profile/public/gold-black/assets/icons/call.svg" alt="">
                </a>
            </div>
            <div class="contact_card">
                <a href="#">
                    <img src="/profile/public/gold-black/assets/icons/call.svg" alt="">
                </a>
            </div>
            <div class="contact_card">
                <a href="#">
                    <img src="/profile/public/gold-black/assets/icons/call.svg" alt="">
                </a>
            </div>
            <div class="contact_card">
                <a href="#">
                    <img src="/profile/public/gold-black/assets/icons/call.svg" alt="">
                </a>
            </div> -->



        </div>

    </section>
    
    <section id="user_contact_sites" class="user_contact_sites">
        <!-- <div class="user_site_card">
            <a href="#">
                <div class="left_section">
                    <img src="/profile/public/gold-black/assets/icons/global.svg" alt="global">
                    <p>Examplewebsite</p>
                </div>
                <img src="/profile/public/gold-black/assets/icons/arrow_outward.svg" alt="">
            </a>
        </div>
        <div class="user_site_card">
            <a href="#">
                <div class="left_section">
                    <img src="/profile/public/gold-black/assets/icons/global.svg" alt="global">
                    <p>Examplewebsite</p>
                </div>
                <img src="/profile/public/gold-black/assets/icons/arrow_outward.svg" alt="">
            </a>
        </div>
        <div class="user_site_card">
            <a href="#">
                <div class="left_section">
                    <img src="/profile/public/gold-black/assets/icons/global.svg" alt="global">
                    <p>Examplewebsite</p>
                </div>
                <img src="/profile/public/gold-black/assets/icons/arrow_outward.svg" alt="">
            </a>
        </div> -->
    </section>

    <!-- products section -->
    <section id="products_section" class="products_section">
        <h4 class="gradient_text sub_heading">Products</h4>
        <div id="products_card_section" class="products_card_section">
            <!-- <div class="product_card">
                <img class="product_img" src="/profile/public/gold-black/assets/images/headset.png" alt="product">
                <div class="product_details">
                    <div class="product_name">XR headsets</div>
                    <div class="product_price">
                        <p class="fake_price">₹2000</p>
                        <p class="orginal_price gradient_text">₹1,224</p>
                    </div>
                </div>
            </div>

            <div class="product_card">
                <img class="product_img" src="/profile/public/gold-black/assets/images/headset.png" alt="product">
                <div class="product_details">
                    <h5 class="product_name">XR headsets</h5>
                    <div class="product_price">
                        <p class="fake_price">₹2000</p>
                        <p class="orginal_price gradient_text">₹1,224</p>
                    </div>
                </div>
            </div> -->
        </div>
    </section>


    <!-- services section -->
    <section id="services_section" class="services_section">
        <h4 class="gradient_text sub_heading">Services</h4>

        <div id="services_cards" class="services_cards">
            <!-- <div class="service_card">
                <img class="service_img" src="/profile/public/gold-black/assets/images/headset.png" alt="service">
                <div class="service_details">
                    <h5 class="service_name">IOT Innovations</h5>
                    <p class="service_para">Lorem ipsum dolor sit amet consectetur. Praesent ullamcorper vestibulum
                        interdum justo nam nisl
                        in sit velit. Urna eu nulla malesuada in ac sapien vitae leo magna. Nisl eleifend tortor
                        ullamcorper.</p>
                </div>
            </div>

            <div class="service_card">
                <img class="service_img" src="/profile/public/gold-black/assets/images/headset.png" alt="service">
                <div class="service_details">
                    <h5 class="service_name">IOT Innovations</h5>
                    <p class="service_para">Lorem ipsum dolor sit amet consectetur. Praesent ullamcorper vestibulum
                        interdum justo nam nisl
                        in sit velit. Urna eu nulla malesuada in ac sapien vitae leo magna. Nisl eleifend tortor
                        ullamcorper.</p>
                </div>
            </div>

            <div class="service_card">
                <img class="service_img" src="/profile/public/gold-black/assets/images/headset.png" alt="service">
                <div class="service_details">
                    <h5 class="service_name">IOT Innovations</h5>
                    <p class="service_para">Lorem ipsum dolor sit amet consectetur. Praesent ullamcorper vestibulum
                        interdum justo nam nisl
                        in sit velit. Urna eu nulla malesuada in ac sapien vitae leo magna. Nisl eleifend tortor
                        ullamcorper.</p>
                </div>
            </div> -->

        </div>
        <div class="view_more_btn">
            <button class="btn btn_primary" id="view_more">
                View more
            </button>
        </div>
    </section>


    <section id="youtube_player_section" class="youtube_player_section">

        <!-- <div class="youtube_player">
            <iframe class="yt_iframe" src="https://www.youtube.com/embed/Jy3-0fsS6Qk?controls=1" frameborder="0"
                allowfullscreen></iframe>
        </div>
        <div class="youtube_player">
            <iframe class="yt_iframe" src="https://www.youtube.com/embed/Jy3-0fsS6Qk?controls=1" frameborder="0"
                allowfullscreen></iframe>
    
        </div> -->

    </section>

    <section id="documents_section" class="documents_section">
        <h4 class="gradient_text sub_heading">Documents</h4>
        <div id="documents_cards" class="documents_cards">
            <!-- <div class="document_card">
                <div class="left_section">
                    <img src="/profile/public/gold-black/assets/icons/global.svg" alt="file">
                    <p>The document Name</p>
                </div>
                <button class="btn">
                    <img src="/profile/public/gold-black/assets/icons/global.svg" alt="download">
                </button>
            </div>

            <div class="document_card">
                <div class="left_section">
                    <img src="/profile/public/gold-black/assets/icons/global.svg" alt="file">
                    <p>The document Name</p>
                </div>
                <button class="btn">
                    <img src="/profile/public/gold-black/assets/icons/global.svg" alt="download">
                </button>
            </div>

            <div class="document_card">
                <div class="left_section">
                    <img src="/profile/public/gold-black/assets/icons/global.svg" alt="file">
                    <p>The document Name</p>
                </div>
                <button class="btn">
                    <img src="/profile/public/gold-black/assets/icons/global.svg" alt="download">
                </button>
            </div>

            <div class="document_card">
                <div class="left_section">
                    <img src="/profile/public/gold-black/assets/icons/global.svg" alt="file">
                    <p>The document Name</p>
                </div>
                <button class="btn">
                    <img src="/profile/public/gold-black/assets/icons/global.svg" alt="download">
                </button>
            </div> -->
        </div>
    </section>

    <section id="awards_section" class="awards_section">
        <h4 class="gradient_text sub_heading">Awards</h4>
        <div id="awards_cards" class="awards_cards">

            <!-- <div class="award_card">
                <img class="award_img" src="/profile/public/gold-black/assets/images/headset.png" alt="product">
                <div class="product_details">
                    <h5 class="fw_600 f_16 gradient_text">Best Company 2023</h5>
                    <p class="fw_400 f_16">IT council</p>
                </div>
            </div>
            <div class="award_card">
                <img class="award_img" src="/profile/public/gold-black/assets/images/headset.png" alt="product">
                <div class="product_details">
                    <h5 class="fw_600 f_16 gradient_text">Best Company 2023</h5>
                    <p class="fw_400 f_16">IT council</p>
                </div>
            </div> -->

        </div>
    </section>



    <section id="certificate_section" class="certificate_section">
        <h4 class="gradient_text sub_heading">Certificates</h4>
        <div id="certificate_cards" class="certificate_cards">

            <!-- <div class="certificate_card">
                <img src="/profile/public/gold-black/assets/images/certificate.png" alt="certificate">
                <h5 class="gradient_text fw_600 f_16">Honorary Certificate</h5>
                <p class="fw_400 f_16">IT council</p>
            </div> -->

        </div>

    </section>


    <section id="bank_details_section" class="bank_details_section">
        <div class="bank_details_card">
            <h4 class="gradient_text sub_heading">Banking Details</h4>

            <div id="bank_detail_cards" class="bank_detail_cards">

                <!-- <div class="bank_detail">
                    <div class="bank_detail_left_section">
                        <h6 class="gradient_text f_14 fw_500">Name</h6>
                        <p class="fw_600 f_18">Jane Doe</p>
                    </div>
                    <button class="btn">
                        <img src="/profile/public/gold-black/assets/icons/copy.svg" alt="copy">
                    </button>
                </div>


                <div class="bank_detail">
                    <div class="bank_detail_left_section">
                        <h6 class="gradient_text f_14 fw_500">Name</h6>
                        <p class="fw_600 f_18">Jane Doe</p>
                    </div>
                    <button class="btn">
                        <img src="/profile/public/gold-black/assets/icons/copy.svg" alt="copy">
                    </button>
                </div>

                <div class="bank_detail">
                    <div class="bank_detail_left_section">
                        <h6 class="gradient_text f_14 fw_500">Name</h6>
                        <p class="fw_600 f_18">Jane Doe</p>
                    </div>
                    <button class="btn">
                        <img src="/profile/public/gold-black/assets/icons/copy.svg" alt="copy">
                    </button>
                </div> -->

            </div>
        </div>

    </section>


    <section class="enquiry_section">
        <h4 class="gradient_text sub_heading">Enquiry</h4>
        <form class="enquiry_form">
            <input id="name_input" class="enquiry_input fw_400 f_16" type="text" placeholder="Enter your name">
            <!-- phone input-->
            <div id="phone_input_wrapper" class="phone">
                <input type="text" class="phone fw_400 f_16" name="phone" id="phone" placeholder="Phone Number" />
            </div>

            <input id="email_input" class="enquiry_input fw_400 f_16" type="email" placeholder="Enter your email">
            <textarea id="textarea" class="enquiry_input textarea fw_400 f_16" type="text"
                placeholder="Message"></textarea>
            <button id="enquiry_btn" class="enquiry_btn" type="submit" value="Submit">Submit</button>
        </form>
    </section>

    <footer>
        <h5 class="footer_text fw_400 f_12">Powered by <span class="footer_company_text fw_600 f_14">Alphamaze</span>
        </h5>
        <a href="https://www.visitingcard.store/">
            <button class="btn footer_company_text">View more</button>
        </a>
    </footer>


    <!-- product popoup -->
    <div id="product_popup_section" class="product_popup_section popup d_none">
        <button id="product_popup_close_btn" class="btn popup_close_btn">
            <img src="/profile/public/gold-black/assets/icons/close.svg" alt="close">
        </button>
        <div class="popup_card">
            <img id="product_popup_img" class="popup_img" src="" alt="product">
            <div class="popup_info">
                <h4 id="product_popup_heading" class="popup_heading fw_600">
                    <!-- heading here -->
                </h4>
                <div class="popup_price_section">
                    <p id="product_fake_price" class="fake_price text_dim">
                        <!-- fake price here -->
                    </p>
                    <p id="product_popup_orginal_price" class="popup_orginal_price fw_600 f_16">
                        <!-- orginal price here -->
                    </p>
                </div>
                <p id="product_popup_desc" class="popup_desc text_dim fw_400 f_16">
                    <!-- descreption here -->
                </p>
                <a id="product_popup_btn">
                    <button class="popup_btn f_16 fw_600">
                        View More
                    </button>
                </a>
            </div>
        </div>
    </div>

    <!-- service popup -->
    <div id="service_popup_section" class="service_popup_section popup d_none">
        <button id="service_popup_close_btn" class="btn popup_close_btn">
            <img src="/profile/public/gold-black/assets/icons/close.svg" alt="close">
        </button>
        <div class="popup_card">
            <img id="service_popup_img" class="popup_img" src="" alt="product">
            <div class="popup_info">
                <h4 id="service_popup_heading" class="popup_heading fw_600">
                    <!-- heading here -->
                </h4>
                <p id="service_popup_desc" class="popup_desc text_dim fw_400 f_16">
                    <!-- descreption here -->
                </p>
                <a id="service_popup_btn">
                    <button class="popup_btn f_16 fw_600">
                        View More
                    </button>
                </a>
            </div>
        </div>
    </div>


    <!-- award popup -->
    <div id="award_popup_section" class="service_popup_section popup d_none">
        <button id="award_popup_close_btn" class="btn popup_close_btn">
            <img src="/profile/public/gold-black/assets/icons/close.svg" alt="close">
        </button>
        <div class="popup_card">
            <img id="award_popup_img" class="popup_img" src="" alt="product">
            <div class="popup_info">
                <h4 id="award_popup_heading" class="popup_heading fw_600">XR headsets</h4>
                <p id="award_popup_desc" class="popup_desc text_dim fw_400 f_16">
                    <!-- descreption here -->
                </p>
            </div>
        </div>
    </div>


    <div id="certificate_image_section" class="popup d_none">
        <button id="popup_close_btn" class="btn popup_close_btn">
            <img src="/profile/public/gold-black/assets/icons/close.svg" alt="close">
        </button>
        <img class="certificate_popup_img" id="certificate_popup_img" src="" alt="certificate_popup_img">
    </div>

    <button id="chatButton" class="btn bottom_fixed_btn">
        <a href="" class="bottom_fixed_btn_link" id="bottom_fixed_btn_link">
            <img src="/profile/public/gold-black/assets/icons/wp.svg" alt="whatsapp">
            <p class="fw_600 gradient_text">Let's Chat!</p>
        </a>
    </button>


    <script src="https://cdn.tutorialjinni.com/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>

    <script>
        var input = document.querySelector("#phone");
        window.intlTelInput(input, {
            separateDialCode: true,
            initialCountry: "in",
        });
    </script>

    <script
    defer
    src="/profile/public/gold-black/script.js"
    data="<%= JSON.stringify(data) %>"
    ></script>

</body>

</html>