<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>X-card black orange theme</title>
    <link rel="stylesheet" href="/profile/public/sky-blue/style.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Outfit:wght@400;500;600&display=swap"
      rel="stylesheet"
    />
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.8/glider.min.js"
      integrity="sha512-AZURF+lGBgrV0WM7dsCFwaQEltUV5964wxMv+TSzbb6G1/Poa9sFxaCed8l8CcFRTiP7FsCgCyOm/kf1LARyxA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    ></script>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/glider-js/1.7.8/glider.min.css"
      integrity="sha512-YM6sLXVMZqkCspZoZeIPGXrhD9wxlxEF7MzniuvegURqrTGV2xTfqq1v9FJnczH+5OGFl5V78RgHZGaK34ylVg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link
      rel="stylesheet"
      href="https://cdn.tutorialjinni.com/intl-tel-input/17.0.19/css/intlTelInput.css"
    />
    <script src="/profile/public/sky-blue/script.js" defer data="<%= JSON.stringify(data) %>"></script>
  </head>
  <body>
    <!-- Header Section -->
    <header class="header">
      <a href="/">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          fill="none"
        >
          <path
            d="M15 18L9 12L15 6"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"
          />
        </svg>
      </a>
    </header>
    <div id="loader">
      <img src="/profile/public/sky-blue/assets/orange-dark/icons/loader.svg" alt="loading">
    </div>
    <main style="opacity: 0">
      <!-- Profile Section -->
      <section id="profile">
        <div class="profile-card">
          <img src="/profile/public/sky-blue/assets/orange-dark/card-bg.png" alt="card-bg" />
          <div class="info">
            <img
              class="profile-pic"
              src="/profile/public/sky-blue/assets/orange-dark/profile-pic.png"
              alt="profile-pic"
            />
            <h1>Robert C. Shelton</h1>
            <h2>President ABC Solutions | CEO Talent Hub</h2>
            <p>
              Ut tellus interdum massa at platea sit at mi ipsum. Dictum mauris
              tempus sit bibendum. Feugiat bibendum dictum tincidunt molestie
              fames morbi egestas a condi
            </p>
            <a class="btn btn-primary" href="">
              <img
                src="/profile/public/sky-blue/assets/orange-dark/icons/add-contact.svg"
                alt="add-contact"
              />
              <span>Save Contact</span>
            </a>
          </div>
        </div>
      </section>
      <!-- Socials Section -->
      <section id="socials">
        <div class="small-cards">
         
        </div>
        <div class="large-cards">
         
        </div>
      </section>
      <!-- Websites Section -->
      <section id="websites">
        <div class="main-card">
          <h2>Website</h2>
          <ul>
            
          </ul>
        </div>
      </section>
      <!-- Services Section -->
      <section id="services">
        <div class="main-card">
          <div class="heading">
            <h2>Services</h2>
            <p>
              <span id="current-services">1</span>/<span id="total-services"
                >4</span
              >
            </p>
          </div>
          <div class="glider service-glider">
            
          </div>
          <div role="tablist" class="dots-service"></div>
        </div>
      </section>

      <!-- Videos Section -->

      <section id="videos">
        <div class="video-glider" style="margin-left: 1rem">
          <div class="" style="height: 11.375rem">
            <iframe
              width="100%"
              style="border-radius: 8px"
              height="100%"
              src="https://www.youtube.com/embed/o6xikISiz2w?si=KyVAPtWuPpAWng5_"
              title="YouTube video player"
              frameborder="0"
              allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
              allowfullscreen
            ></iframe>
          </div>
          <div class="" style="height: 11.375rem">
           
          </div>
        </div>
        <div role="tablist" class="dots-video"></div>
      </section>

      <!-- Products Section -->

      <section id="products">
        <div class="main-card">
          <div class="heading">
            <h2>Products</h2>
            <p>
              <span id="current-products">1</span>/<span id="total-products"
                >4</span
              >
            </p>
          </div>
          <div class="glider product-glider">
           
          </div>
          <div role="tablist" class="dots-product"></div>
        </div>
      </section>

      <section id="certificates">
        <div class="main-card">
          <h2>Certifications</h2>
          <ul>
            
          </ul>
        </div>
      </section>

      <!-- Awards Section -->
      <section id="awards">
        <div class="main-card">
          <h2>Awards</h2>
          <ul class="award-cards">
            
          </ul>
        </div>
      </section>

      <!-- Catalogs Section -->
      <section id="catalogues">
        <div class="main-card">
          <h2>Catalogues</h2>
          <ul class="links three">
            
          </ul>
        </div>
      </section>

      <!-- UPI section -->
      <section id="upi">
        <div class="main-card">
          <h2>UPI Id</h2>
          <ul class="links three">
           
          </ul>
        </div>
      </section>

      <!-- Bank Section -->
      <section id="bank">
        <div class="main-card">
          <h2 class="bank-name">State Bank of India</h2>
          <p class="bank-branch">Kakkanad Branch</p>
          <div class="bank-personal-details">
            <div class="bank-id">
              <h3>Name</h3>
              <p></p>
            </div>
            <div class="bank-acc">
              <h3>Acc no</h3>
              <p></p>
            </div>
            <div class="bank-ifsc">
              <h3>IFSC Code</h3>
              <p></p>
            </div>
            <div class="bank-swift">
              <h3>Swift Code</h3>
              <p></p>
            </div>
            <div class="bank-vat">
              <h3>VAT Number</h3>
              <p></p>
            </div>
          </div>
        </div>
      </section>

      <!-- Enquiry Section -->
      <section id="enquiry">
        <div class="main-card">
          <h2>Enquiry</h2>
          <form>
            <div class="input">
              <input
                id="name"
                placeholder="Name"
                name="name"
                class="text-input"
                type="text"
              />
            </div>
            <div class="input"  id="phone_wrapper">
              <input
                id="phone"
                placeholder="Phone"
                name="phone"
                class="text-input"
                type="text"
              />
            </div>
            <div class="input">
              <input
              id="email"
                placeholder="Email"
                name="email"
                class="text-input"
                type="email"
              />
            </div>
            <div class="input">
              <textarea
                id="message"
                placeholder="Enter Message"
                name="message"
                class="text-input"
              ></textarea>
            </div>
            <button class="btn btn-primary">Submit</button>
          </form>
        </div>
      </section>
    </main>
    <div class="modal">
      <div class="modal-content">
        <button class="close-button">
          <img src="/profile/public/sky-blue/assets/orange-dark/icons/close.svg" alt="close" />
        </button>
        <img class="w-full" src="/profile/public/sky-blue/assets/orange-dark/service.png" alt="" />
        <h2>Website Development</h2>
        <p class="description">
          Id natoque cras et facilisis amet pulvinar malesuada ultrices. Turpis
          turpis tristique convallis proin ultrices ornare ut. Massa in augue et
          vulputate sit maecenas eros ac.
        </p>
        <p class="price">
          <span class="discount">₹124</span><span class="actual">₹200</span>
        </p>
        <a class="btn btn-primary w-full" href="">View</a>
      </div>
    </div>

    <script src="https://cdn.tutorialjinni.com/intl-tel-input/17.0.19/js/intlTelInput.min.js"></script>

    <script>
      var input = document.querySelector("#phone");
      window.intlTelInput(input, {
        separateDialCode: true,
        initialCountry: "in",
      });
    </script>
  </body>
</html>
